.left-side-bar-bg {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    z-index: -1;
}

.form-container {
    width: min(95%, 400px);
    justify-self: center;
}

.form label {
    width: 100%;
}

.bg-white {
    background: #fff;
}

.scroll {
    overflow: auto;
    /* or overflow: scroll; */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.scroll::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.cursor-pointer {
    cursor: pointer;
}

.bg-glass {
    backdrop-filter: blur(10px);
}

.bg-transparant {
    background: transparent;
}

.bg-light-white {
    background: rgba(255, 255, 255, 0.3);
}

.bg-mid-white {
    background: rgba(255, 255, 255, 0.55);
}

.bg-deep-white {
    background: rgba(255, 255, 255, 0.8);
}

.bg-light-black {
    background: rgba(0, 0, 0, 0.2);
}

.bg-light-green {
    background: rgba(10, 206, 10, 0.2);
}

.bg-primary,
.btn-primary {
    background: rgba(30, 143, 255, 0.7) !important;
}

.btn {
    border-width: 0;
}

.modal-backdrop {
    /* --bs-backdrop-opacity: 0.1; */
    --bs-backdrop-bg: rgba(0, 0, 0, 0.2);
    opacity: 1 !important;
    backdrop-filter: blur(5px);
}

.modal.show .modal-dialog {
    margin: auto;
    margin-top: 10vh;
}

@media (max-width: 575px) {
    /* CSS rules for extra small devices */
}

@media (max-width: 767px) {
    /* CSS rules for small devices */
    .left-side-bar {
        position: fixed;
        z-index: 2;
    }
    .tasks-container {
        width: 100vw;
    }
    .card {
        z-index: auto;
    }
}

@media (max-width: 991px) {
    /* CSS rules for medium devices */
}

@media (max-width: 1199px) {
    /* CSS rules for large devices */
}

@media (max-width: 1399px) {
    /* CSS rules for extra large devices */
}