.form-container {
    width: min(95%, 400px);
    justify-self: center;
}

.form label {
    width: 100%;
}

.bg-white {
    background: #fff;
}

.scroll {
    overflow: auto;
    /* or overflow: scroll; */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.scroll::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.cursor-pointer {
    cursor: pointer;
}